:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;

  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: black;
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
  color: #272142;
}

.about-section {
  padding: 160px 20px;
}

.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}

.about-section h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
}

.about-section-content {
  margin: 30px;
}

.btn-branding {
  background-color: var(--branding-color);
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 120px 30px;
}

.work-inquiry {
  font-size: 48px;
  background-color: var(--secondary-color);
  font-weight: bold;
  border-radius: 20px;
  padding-top: 40px;
  margin-top: 120px;
  margin-bottom: 80px;
}

.work-inquiry p {
  font-family: var(--default-font-family);
  font-size: 18px;
  line-height: 2;
}

.contact-btn {
  padding-top: 10px;
}

.contact-info a {
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.icons i {
  color: var(--branding-color);
  font-size: 18px;
  border: 0 solid var(--secondary-color);
  border-radius: 50%;
  border-width: 15px;
}

.fa-square-facebook {
  margin: 0 33px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
    line-height: 2;
  }

  h2 {
    font-size: 40px;
  }

  .hero {
    padding: 80px 20px;
  }

  .about-section {
    text-align: center;
    padding: 0;
  }

  .project-description {
    padding: 0 10px;
    text-align: center;
  }

  .work-inquiry {
    background-color: #fff;
    margin-top: 60px;
  }

  .contact-info a {
    font-size: 20px;
  }
}
